{% extends 'base.html' %}

{% block content %}
<h1>{{ book.title }}</h1>

<p>Author: {{ book.author.name }}</p>
<p>ISBN: {{ book.isbn }}</p>
<p>Publication Year: {{ book.publication_year }}</p>
{% if book.cover_url %}
<img src="{{ book.cover_url }}" alt="Cover Image" class="img-fluid">
{% endif %}

<h3>Rate this Book</h3>
<form method="POST" action="{{ url_for('rate_book', book_id=book.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.rating.label }}
        {{ form.rating(size=3, class="form-control") }}
    </div>
    <div class="form-group mt-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
