{% extends 'base.html' %}

{% block content %}
<h1>Books in Library</h1>

<div>
    <a href="{{ url_for('home', sort_by='title') }}">Sort by Title</a> |
    <a href="{{ url_for('home', sort_by='author') }}">Sort by Author</a>
</div>

<ul>
    {% for book in books %}
    <li>
        <strong>{{ book.title }}</strong> by {{ book.author.name }}<br>
        <img src="{{ book.cover_url }}" alt="Cover Image" style="width:100px;"><br>
        ISBN: {{ book.isbn }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
